body {
    margin: auto;
    height: 100%;
    background-color: #27296d;
    text-align: center;
}

h1 {
    font-family: "Open Sans Condensed";
    font-size: 4.625rem;
    color: #71c9ce;
    padding-top: 150px;
}

h2 {
    font-family: "Montserrat";
    font-size: 2.5rem;
    color: #71c9ce;
    text-align: center;
}

h3 {
    font-family: "Montserrat";
    color: #71c9ce;
    padding: 10px;
}

h5 {
    font-family: "Open Sans Condensed";
    font-size: 2.5rem;
    font-weight: normal;
    color: #71c9ce;
}

p {
    font-family: "Open Sans Condensed";
    font-size: .9rem;
    line-height: 2;
    color: #71c9ce;
    padding: 10px;
}

span {
    text-decoration: underline;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
}

a {
    font-family: "Montserrat", sans-serif;
    color: #71c9ce;
}

a:hover {
    color: #eaf6f6;
}

.footer-link {
    text-decoration: none;
}

.contact-me {
    padding-bottom: 100px;
    font-size: 1.5rem;
    color: black;
    background-color: #27296d;
    text-align: center;
}

.contact-me>h2 {
    color: #71c9ce;
}

.contact-me>h3 {
    color: #71c9ce;
}

.contact-me>p {
    color: #71c9ce;
    text-align: center;
}

.contactmessage {
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

.profile {
    text-align: center;
    width: 20%;
    margin: auto;
}

.minibio {
    font-size: 1.3rem;
    width: 40%;
    margin: auto;
    border: 5px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    background-color: #1c6ea4;
    -webkit-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    -moz-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
}

.coding-image {
    float: left;
    margin-right: 30px;
    width: 15%;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 70%;
}

.ios {
    float: right;
    width: 15%;
    border-radius: 50%;
    margin-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

.skill-row1 {
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    background-color: #1c6ea4;
    border: 5px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    -moz-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
}

.skill-row2 {
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    background-color: #1c6ea4;
    padding: 80px;
    border: 5px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    -moz-box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
    box-shadow: 9px 2px 36px 0px rgba(113, 201, 206, 0.57);
}

.project-skill-row {
    width: 50%;
    margin: auto;
    text-align: left;
}

.intro {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #71c9ce;
}

.abouth2 {
    font-family: "Montserrat";
    font-size: 2.5em;
    color: #1c6ea4;
    padding-top: 50px;
    text-align: center;
    width: 20%;
}

.projectH2 {
    text-decoration: none;
}

.mid-container {
    background: #1c6ea4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
}

.middle-container {
    width: 100%;
    background: #1c6ea4;
    text-align: center;
    text-decoration: none;
}

.bottom-container {
    background: #1c6ea4;
    padding: 50px 0 20px;
    padding-bottom: 50px;
    text-align: center;
}

.bottom-container>a {
    color: white;
}

.bottom-container>p {
    color: white;
}

.projectImg {
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn {
    background: linear-gradient(to bottom, #27296d 5%, #5e63b6 100%);
    background-color: #27296d;
    border-radius: 8px;
    border: 1px solid #27296d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 #71c9ce;
}

.btn:hover {
    background: linear-gradient(to bottom, #5e63b6 5%, #27296d 100%);
    background-color: #5e63b6;
}

.btn:active {
    position: relative;
    top: 1px;
}


/* 
table code us from  */

.table100.ver6 {
    border-radius: 16px;
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #71c9ce, #5e63b6);
    background: -o-linear-gradient(-68deg, #71c9ce, #5e63b6);
    background: -moz-linear-gradient(-68deg, #71c9ce, #5e63b6);
    background: linear-gradient(-68deg, #71c9ce, #5e63b6);
    width: 65%;
    height: 70%;
    margin: auto;
}

.table100.ver6 table {
    width: 95%;
    margin: auto;
    background-color: transparent;
}

.table100.ver6 td {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.4;
}

.table100.ver6 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.32);
}

.table100.ver6 .row100:hover td {
    background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .hov-column-ver6 {
    background-color: rgba(255, 255, 255, 0.1);
}

.table100.ver6 .row100 td:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.projectcontainer {
    background-color: #1c6ea4;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* animated slider */

canvas {
    background-image: radial-gradient(#1c6ea4, #d0e4f5);
}

#instructions {
    color: #fff;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    pointer-events: none;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    background-color: #27296d;
}


/* card flip */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}